.center.hero-unit.fluid

  %h1 Search Results

  %p Here's what we found.

  %p

  %ul.search
    %li{ "ng-repeat" => "search in searches" }
      %a{"href" => "{{search.url}}", "target" => "_blank"} {{search.url}}
      %p From: {{search.site}}
      %p {{search.text}}
