.center.hero-unit.fluid

  %h1 Search Results

  %p Here's what we found.

  %p

  %ul.search
    %li{ "ng-repeat" => "search in searches" }
      %a{"href" => "{{search.url}}"} {{search.name}}
      %p {{search.summary}}
