<div class="center hero-unit fluid">
  <h1>
    EchoNest Search
  </h1>

  <h2>
    A search engine for your music.
  </h2>


 <%= form_tag search_path do %>
    <%= search_field "en_search_field","artist_or_song", :class => "search-query", :required => true %>
    <%= submit_tag "Submit", :class => "btn btn-primary" %>
  <% end %>
</div>